.card_thumb
  = link_to article_achieved_article_thumbs_up_path(@achieved_article.article_id, @achieved_article), { method: 'post', remote: true } do
    = image_tag 'black_thumbs.png', {class: 'thumbs_up', :style=>'width:25px;height:25px;'}