.card_thumb
  = link_to article_achieved_article_thumbs_up_path(@achieved_article.article_id, @achieved_article), { method: 'delete', remote: true } do
    = image_tag 'thumbs.png', class: 'thumbs_up'