- @followers.each do |follower|
  .follow_info
    .follow_avatar 
      = link_to account_path(follower.id) do
        = image_tag follower.avatar_image, class:'follow_image'
    .follow_name
      = follower.user_name
    .follow_bio
      = follower&.profile&.bio