.tabs 
  .tabs_item.active
    = link_to 'Bucket List', following_articles_path, {remote: true, :style=>'text-decoration:none; color:black'}
  .tabs_item.inactive
    = link_to 'Achieved Bucket List', following_achieved_articles_path, {remote: true, :style=>'text-decoration:none; color:black; font-weight:450;'}