.tabs
  .tabs_item{class: "#{add_active_class(following_articles_path)}"}
    = link_to 'Bucket List', following_articles_path, {:style=>'text-decoration:none; color:black; display: block;'}
  .tabs_item{class: "#{add_active_class(following_achieved_articles_path)}"}
    = link_to '達成できたBucket List', following_achieved_articles_path, {:style=>'text-decoration:none; color:black; font-weight:450;'}