@media only screen and (min-width: 1441px) and (max-width: 1920px) {

  .profilePage_user_info_figures {

    p {
      padding: 20px 140px;
    }
  }
  
  .profilePage_user_info_title {

    p {
      padding: 0px 112px;
    }
  }


  .bucket_list_image {
    height: 500px;
    padding: 0 150px;
  }

} 
