@import './variables'; 

.btn-primary {
  background-color: $primary-color;
  border: none;
  width: 100%;
  text-align: center;
  color: black;
  padding: 18px 0;
  font-weight: bold;
  font-size: 16px;
  margin: 80px 10px 70px 10px;
  border-radius: 7px;
  font-family: Avenir;
}

.follow_btn {
  background-color:rgb(45, 186, 253);
  width: 100px;
  text-align: center;
  color: white;
  padding: 9px 15px;
  font-size: 16px;
  border-radius: 7px;
  font-family: Avenir;
  position: relative;
  left: 200px;
  top: 10px;
}


.btn-secondary {
  background-color:rgb(45, 186, 253);
  width: 140px;
  text-align: center;
  color: white;
  padding: 6px 10px;
  font-size: 16px;
  border-radius: 7px;
  font-family: Avenir;
  position: relative;
  top: -85px;
  left: 230px;
}

.btn-tertiary {
  background-color:black;
  width: 110px;
  text-align: center;
  color: white;
  padding: 6px 10px;
  font-size: 12px;
  border-radius: 5px;
  font-family: Avenir;
  position: relative;
  top: -40px;
  left: 300px;
}

.profile-edit-btn {
  background-color:rgb(45, 186, 253);
  width: 140px;
  text-align: center;
  color: white;
  padding: 10px 10px;
  font-size: 16px;
  border-radius: 7px;
  font-family: Avenir;
  position: relative;
  top: 12px;
  left: 200px;
}