.card {
  width: 100%;
  margin: 3px 3px 10px 3px;
}

.content {
  padding-left: 30px;
  font-family: Avenir;
}

.article {
  margin-left: 40px;

  .figure {
    position: relative;
    top: -37px;
    left: 130px;
    font-size: 20px;
  }

  .comment_user_avatar {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    cursor: pointer;
    position: relative;
    top: -9px;
    left: 10px;
    margin-right: 10px;
  }

  .comment_mark {
    position: relative;
    top: -100px;
    right: -360px;
  }

}

.comment_content {
  font-size: 12px;
  width: 270px;
  height: 40px;
  position: relative;
  top: -45px;
  right: -65px;
  word-wrap: break-word;
}

.heart_mark1 {
  width: 24px;
  height: 24px;
  position: relative;
  top: -30px;
  right: -10px;
}

.edit_mark {
  position: relative;
  right: -380px;
  bottom: 100px;
}




