@import './variables';

.dropbtn {
  float: right;
  position: relative;
  right: 35px;
  top: -45px;
}

.dropbtn1 {
  float: right;
  position: relative;
  right: 35px;
  top: -75px;
}

.dropdown-content {
  font-weight: normal;
  display: none;
  right: 10px;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  &.mini {
    min-width: 85px
  }

  &.mini1 {
    position: absolute;
    top: -20px;
    text-align: center;
  }

  &.mini2 {
    position: absolute;
    top: -80px;
    text-align: center;
  }
}

.dropdown-content a {
  padding: 8px 18px;
  text-decoration: none;
  display: block;
  color: $text-base-color;
}

.dropdown-content a:hover {
  background-color:white;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}