@import './variables';

.dropbtn {
  position: absolute;
  left: 140px;
  bottom: 14px;
  cursor: pointer;
  display: inline-block;
}

.dropdown-content {
  font-weight: normal;
  display: none;
  right: 10px;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

  &.mini {
    min-width: 85px
  }

  &.mini1 {
    min-width: 70px;
    position: absolute;
    left: 115px;
    top: 40px;
    text-align: center;
  }

  &.mini2 {
    min-width: 40px;
    position: absolute;
    top: -60px;
    left: 350px;
    text-align: center;
  }
}

.dropdown-content a {
  padding: 8px 18px;
  text-decoration: none;
  display: block;
  color: $text-base-color;
}

.dropdown-content a:hover {
  background-color:white;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}