.header {
  padding: 12px 0 15px 15px;
  background-color: rgb(178, 229, 80);
}

.header_pageTitle {
  font-family: 'Caveat', cursive;
  font-size: 27px;
  position: relative;
  left: 25px;
  top: 10px;
}

.logo {
  width: 25px;
  height: 25px;
  margin: 0 0 5px 5px;
}

.header_login_btn {
  position: relative;
  right: -155px;
  font-size: 23px;
}

.user_avatar {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  float: right;
  position: relative;
  right: 15px;
  bottom: 45px;
  cursor: pointer;
}
