.header {
  padding: 12px 0 15px 18px;
  background-color: rgb(178, 229, 80);
}

.header_pageTitle {
  font-family: 'Caveat', cursive;
  font-size: 27px;
  position: relative;
  left: 25px;
  top: 10px;
}

.user_avatar {
  width: 42px;
  height: 42px;
  border-radius: 100%;
  float: right;
  position: relative;
  right: 12px;
  bottom: 24px;
  cursor: pointer;
}
