@media only screen and (min-width: 1024px) and (max-width: 1440px) {

  .profilePage_user_info_figures {

    p {
      padding: 10px 112px;
    }
  }
  
  .profilePage_user_info_title {

    p {
      padding: 0px 85px;
    }
  }

  .card {
    padding: 0 250px 300px 250px;
  }

  .slick-track {
    height: 500px;
  }

  
  .card_thumb {
    top: 285px;
  }

  .card_item1 {
    position: relative;
    top: 283px;
  }

  .slick-dots {
    li {
      top: 315px;
      }
  }
}