@media only screen and (min-width: 767px) and (max-width: 1024px) {

  .profilePage_user_info_figures {

    p {
      padding: 20px 79px;
    }
  }
  
  .profilePage_user_info_title {

    p {
      padding: 0px 52px;

    }
  }

  .card {
    padding: 0 80px 200px 80px;

  }

  .slick-track {
    height: 400px;
  }

  
  .card_thumb {
    top: 180px;
  }

  .card_item1 {
    position: relative;
    top: 183px;
  }

  .slick-dots {
    li {
      top: 210px;
      }
    }
  }