@media only screen and (min-width: 767px) and (max-width: 1024px) {

  .profilePage_user_info_figures {

    p {
      padding: 20px 80px;
    }
  }
  
  .profilePage_user_info_title {

    p {
      padding: 0px 53px;
    }
  }

  .bucket_list_image {
    height: 400px;
    padding: 0 30px;
  }

}