.container {
  margin: 20px 0;
  font-family: Avenir;
  font-weight: 500;
}

.profilePage_user {
  display: flex;

  .user_image {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    margin-left: 15px;
  }

  .profilePage_user_name {
    position: relative;
    left: 30px;
    bottom: -8px;
  }
}

.profilePage_user_private_info {
  position: relative;
  left: 25px;
  bottom: -20px;
  margin: 15px 0 0px 40px;

  .birthday {
    position: relative;
    left: 35px;
    bottom: 27px;
    }
  
  .profilePage_user.location {
    float: right;
    position: relative;
    left: -85px;
    bottom: 65px;
  
    .location {
      position: relative;
      left: 20px;
      bottom: 8px;
    }
  }
}

.profilePage_user_bio {
  position: relative;
  left: 20px;
  bottom: 12px;
  margin-right: 20px;
}

.profilePage_user_info_figures {
  display: flex;
  margin: 0 20px 0 8px;

  .posts {
    position: relative;
    left: 20px;
    top: 25px;
  }

  .achieved {
    position: relative;
    left: 100px;
    top: 25px;
  }

  .following {
    position: relative;
    left: 200px;
    top: 25px;
  }

  .follower {
    position: relative;
    left: 295px;
    top: 25px;
  }
}

.profilePage_user_info_title {
  display: flex;
  margin: 0 5px 0 2px;

  p {
    padding: 17px;
  }
}

