.container {
  margin: 20px 0;
  font-family: Avenir;
  font-weight: 500;
}


.profilePage_user {
  // display: flex;

  .user_image {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    margin-left: 15px;
  }

  .profilePage_user_name {
    position: relative;
    left: 90px;
    bottom: 33px;
  }
}

.profilePage_user_actionButton {
  float: right;
  position: relative;
  right: 250px;
  bottom: 70px;
}

.profilePage_user_private_info {
  display: flex;
  margin: 10px 0 0px 40px;

  .fa-birthday-cake {
    margin-right: 20px;
  }

  .birthday {
    margin: -5px 0px 0 0;
    }

  .fa-location-arrow {
    position: relative;
    left: 90px;
  }

  .location {
    position: relative;
    left: 110px;
    bottom: 7px;
  }
}

.profilePage_user_bio {
  position: relative;
  left: 20px;
  bottom: 12px;
  margin: 40px 0 40px 20px;
}

.profilePage_user_info_figures {
  display: flex;
  position: relative;
  top: 5px;

  p {
    padding: 0px 47px;
  }

  .following{
    margin: 0 15px;
  }
}

.profilePage_user_info_title {
  display: flex;

  p {
    padding: 0px 20px;
  }
}

